{% extends 'base.jinja2' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                {% if message|length > 0 %}
                <p class="alert alert-warning">{{ message }}</p>
                {% endif %}
                <form action="{{url}}" method="post">
                    <input type="hidden" name="came_from" value="{{came_from}}"/>
                    <input type="text" name="login" class="form-control" placeholder="Username" value="{{login}}"/><br/>
                    <input type="password" name="password" class="form-control" placeholder="Password" value="{{password}}"/>
                    <br/>
                    <input type="submit" class="btn btn-success" name="form.submitted" value="Log In"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}